.button {
  margin: 10px;
  width: 100px;
  height: 30px;
  background-color: rgb(52, 92, 223);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-style: none;
}

.children {
  background-color: whitesmoke;
  width: 100px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}
